.top-page-text{
    text-align: center;
    display: block;
    background-image: url("index/back.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.top-page-text .text{
    margin: 800px auto;
    font-family: 'Sriracha', cursive;
    text-align: left;
    display: inline-block;
    border; 1px solid #000;
    font-size: 60px;
    background-color: rgba(225,225,225,0.8);
}

.back-g{
    background-attachment: fixed;
}