<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--css読み込み-->
    <link rel="stylesheet" th:href="@{/css/index/index.css}">
</head>

<body>
    <div>
        <form method="post" th:action="@{/}">
            <div class="message-top">
                <p class="center-left">
                    Name, Age, Department...<br/>
                    Can you manage them properly?<br/>
                </p>
            </div>
            <br/>
            <input type="submit" value="Need help?" class="btn"/>
        </form>
    </div>
</body>

</html>