<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Mapperとxmlのマッピング-->
<mapper namespace="com.example.SpringBootSample.repository.UserMapper">

    <!--define Mapping-->
    <resultMap type="com.example.SpringBootSample.domain.user.model.MUser" id="user">
        <id column="user_id" property="userId"/>
        <result column="password" property="password"/>
        <result column="user_name" property="userName"/>
        <result column="birthday" property="birthday"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="department_id" property="departmentId"/>
        <result column="role" property="role"/>
        <association property="department" resultMap="department"/>
        <collection property="salaryList" resultMap="salary" columnPrefix="salary_"/>
    </resultMap>

    <!--define Mapping-->
    <resultMap type="com.example.SpringBootSample.domain.user.model.Department" id="department">
        <id column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
    </resultMap>

    <!--define Mapping(salary)-->
    <resultMap type="com.example.SpringBootSample.domain.user.model.Salary" id="salary">
        <id column="user_id" property="userId"/>
        <id column="year_mnt" property="yearMonth"/>
        <result column="salary" property="salary"/>
    </resultMap>

    <!--Register user-->
    <insert id="insertOne">
        insert into m_user(
            user_id,
            password,
            user_name,
            birthday,
            age,
            gender,
            department_id,
            role
        )
        values (
            #{userId},
            #{password},
            #{userName},
            #{birthday},
            #{age},
            #{gender},
            #{departmentId},
            #{role}
        )
    </insert>

    <!--get multiple user-->
    <select id="findMany" resultType="MUser">
        SELECT * FROM m_user
        <where>
            <if test="userId != null">
                user_id like '%'||#{userId}||'%'
            </if>
            <if test="userName != null">
                and user_name like '%'||#{userName}||'%'
            </if>
        </where>
    </select>

    <!--search user (one)-->
    <select id="findOne" resultMap="user">
        select
            m_user.user_id
            ,m_user.password
            ,m_user.user_name
            ,m_user.birthday
            ,m_user.age
            ,m_user.gender
            ,m_department.department_id
            ,m_department.department_name
            ,t_salary.user_id as salary_user_id
            ,t_salary.year_mnt as salary_year_mnt
            ,t_salary.salary as salary_salary
        from
            m_user
            left join m_department
                on m_user.department_id = m_department.department_id
            left join t_salary
                on m_user.user_id = t_salary.user_id
        where
            m_user.user_id = #{userId}
    </select>

    <!--update user(one)-->
    <update id="updateOne">
        update
            m_user
        set
            password = #{password},
            user_name = #{userName}
        where
            user_id = #{userId}
    </update>

    <!--delete user (one)-->
    <delete id="deleteOne">
        delete from
            m_user
        where
            user_id = # {userId}
    </delete>
</mapper>